@using İhaleTakip.Model
@model Employee

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/Employee/AddEmployee" method="post">
            <div class="mb-3 text-center border-bottom">
                <h3>Yeni Personel Kaydı</h3>
            </div>
            <div class="mb-3">
                <label class="form-label">Ad</label>
                <input class="form-control" name="Name" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Soyad</label>
                <input class="form-control" name="Surname" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Kullanıcı Adı</label>
                <input class="form-control" name="Username" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input class="form-control" name="Password" type="text" required />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100">Ekle</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>