@using İhaleTakip.Model
@model ElectricitySubscriptionType

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/ElectricitySubscriptionType/UpdateElectricitySubscriptionType" method="post">
            <div class="mb-3 text-center border-bottom">
                <h3>Elektrik Abonelik Türü Kaydı Güncelleme</h3>
            </div>
            <div style="display:none">
                <input class="form-control" name="Id" type="text" value="@ViewBag.SelectedSubscriptionType.Id" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">İsim</label>
                <input class="form-control" name="Name" type="text" value="@ViewBag.SelectedSubscriptionType.Name" required />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Güncelle</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
