@using İhaleTakip.Model
@model ElectricityCompany
@{ 
    ViewBag.Ttile = "";
}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/ElectricityCompany/AddElectricityCompany" method="post">
            <div class="mb-3 text-center border-bottom">
                <h3>Yeni Firma Kaydı</h3>
            </div>
            <div class="mb-3">
                <label class="form-label">Ad</label>
                <input class="form-control" name="Name" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Vergi Numarası</label>
                <input class="form-control" name="TaxNumber" type="text" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Vergi Dairesi</label>
                <input class="form-control" name="TaxAdministration" type="text" required />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100">Ekle</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>


