<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
            <br />
            <br />
            <a class="text-decoration-none fw-bold" href="@Url.Action("Index", "Auth")">Ana Menüye Dönmek İçin Tıkla</a>
        </div>
    </div>
</div>